@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

/* COLORS */
//$main-color: rgba(77,77,77,1);
//$main-color: rgb(173, 29, 40);

//container-color:rgb(16, 138, 147);
$main-color: rgb(167, 219, 12);
$container-color:rgb(46, 88, 123);

/* OVERRIDES*/
.affix-top{
	position:fixed;
	top:0;
	z-index:1px;
	border-top:1px solid transparent !important;
}

.navbar{
	margin-bottom:0px !important;
	border-radius:0px !important;
}

.navbar-default{
	background-color:$main-color;
	border:1px solid $main-color !important;
	border-radius:5px 5px 0px 0px !important;
	box-shadow:1px 1px 1px $main-color - 20;
	
}


/* OVERRIDES END */
.settings{
	position:absolute;
	display:block;
	top:10;
	right:0;
	width:20px;
	height:20px;
	margin-right:0.5%;
	background:url('../img/settings21.svg') center center;
	background-repeat:no-repeat;
	background-size:cover;
	opacity:0.5;
}
.settings:hover{
	opacity:1;
	cursor:pointer;
}

html{
	border-top:4px solid $main-color;
}

body{
	//background-color:rgba(250,250,250,1);
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, transparent 79px, transparent 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
	//padding:0.2% 0.5% 0% 0.5%;
	//background-color: white;
	padding:1%;
	//background-color:rgb(16, 138, 147);
}


#banner {
	width:100%;
	height:230px;
	//background-color:rgba(240,240,240,1);
	//background:url('../img/banner.jpg') center center;
	background-repeat:no-repeat;
	background-size:cover;
	//display:none;
	//border:5px solid rgba($main-color,1);
	//border-bottom:15px solid rgba($main-color,1);
	//background-color:$main-color;
	text-align:center;
	.banner-text{
		line-height:230px;
		display:inline-block;
		font-family: 'Grand Hotel', cursive;
		font-weight: normal;
		font-size: 450%;
		//line-height: 23px;
		//margin: 0 0 23px 0;
	}

}

.bar{
	height:3px;
	width:100%;
	background-color:#AD1D28;
}


.base-container{
	color:red;
	margin-bottom:2%;
	padding:1%;
	float:left;
	height:100%;
}

.code-container{
	@extend .base-container;
	background-color:$container-color;
	border-top:2px solid $main-color - 20;
	width:100%;
	color:white;
	border-radius:0px 0px 5px 5px;
}

.breadcrumb{
	background-color:transparent;
	a{
		color:white;
		text-decoration: none;
	}
}

.snippet-list-container{
	@extend .base-container;
	width:80%;
	border-radius:0px 0px 5px 5px;
	background-color:$container-color;
	border-top:2px solid $main-color - 20;

	.list-group-item:hover{
	}

	.list-group-item:active, .list-group-item:focus, .list-group-item:visited{
		background-color:$container-color + 50;
		color:white;		
	}

	.list-group-item {

		.list-group-item-heading{
			color:white;
		}
		min-height:100px;
		border:1px solid rgba(55,55,55,0);
		border-radius:4px;
		margin-bottom:1%;
		box-shadow: 1px 1px 1px $container-color - 40;
		color:white;
		background-color:$container-color;
	}
}

h1.category-title{
	text-transform:uppercase;
	color:white;
	font-weight:bold;
}


.news-list-container{
	width:80%;
	height:100%;
	float:left;
	.list-group-item {
		min-height:100px;
	}
}

.content-container{
	clear:both;
	display:block;
	margin:0px 0px 0px;
}

#right-nav{
	display:inline-block;
	width:20%;
	border-radius:0px 0px 5px 5px;
	background-color:$main-color;
	box-shadow: 0px 1px 1px rgba(98,98,98,1);
	border-top:2px solid $main-color + 40;
	.list-group-item{
		border:1px solid transparent;
		border-radius:0px;
		background-color:transparent;	
		color:white;
		transition: box-shadow 0.5s;
	}
}


h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 46px;
	font-size: 46px;
	margin: 0 0 23px 0;
}
h2 {
	font-family: 'Grand Hotel', cursive;
	font-weight: normal;
	font-size: 31px;
	line-height: 23px;
	margin: 0 0 23px 0;
}
p {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 23px;
	//margin: 0 0 23px 0;
}


/*

h1 {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 46px;
	font-size: 43px;
	margin: 0 0 23px 0;
}
h2 {
	font-family: 'Cantarell', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin: 0 0 23px 0;
}
p {
	font-family: 'Cantarell', sans-serif;
	font-size: 17px;
	line-height: 23px;
	margin: 0 0 23px 0;
}
*/