---
layout: default
---

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">JAM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="code.html">Code</a></li>
        <li><a href="#">Software</a></li>
        <li><a href="#">Other</a></li>
        <li><a href="#">Search</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <!--<form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>-->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="banner">
  </div>
  </div>
  <div class="content-container index">
 <!--<div class="news-list-container">
   <div class="list-group">
    {% for category in site.categories %}
    {% if category contains "news" %}
    <h1 class="category-title" style="padding:10px;" id="{{ category | first }}">
      {{ category | first | capitalize }}
    </h1>
    {% for posts in category %}
    {% for post in posts %}
    {% if post.title != null %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item post">
      <h4 class="list-group-item-heading">
        {{ post.title }}
      </h4>
      <p class="list-group-item-text">
        {{ post.description }}
      </p>
    </a>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div><!-- .list-group-->
</div><!-- .news-list-container-->

<!--
<div id="right-nav">
 <div class="list-group">
   {% for category in site.categories %}
   {% unless category contains "blog" %}
   <a href="#{{ category | first }}" class="list-group-item">
     {{ category | first | capitalize }} 
     <span class="badge">
       {{ category | last | size }}
     </span>
   </a>
   {% endunless %}
   {% endfor %}
 </div>
</div><!-- .right-nav-->
</div><!-- .content-container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="javascripts/bootstrap.js"></script>
<script>
  $(function(){
    var c = new Counter();
    c.Count()
  });
</script>