---
layout: default
---

<div id="banner" style="margin-bottom:0.5%;">
  <div class="banner-text">Linux</div>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h2><a class="navbar-brand" style="font-size:115%;" href="index.html">JAM</a><h2>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         <li><a href="code.html">Code</a></li>
         <li><a href="linux.html">Linux</a></li>
         <li><a href="windows.html">Windows</a></li>
         <li><a href="#">Search</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
       </ul>
     </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
 </nav>
 <div class="snippet-list-container">
  <div class="list-group">
   {% assign sorted_tags = site.tags | sort %}
   {% for tag in sorted_tags %}
   {% assign zz = tag[1] | where: "category", "linux" | sort %}
   {% if zz != empty %}
   <div class="list-category-container">
    <h1 class="tag-title" style="padding:10px;" id="{{ tag | first }}">
      {{ tag[0]|  capitalize }}
    </h1>
    {% for p in zz %}
    <a href="{{ site.baseurl }}{{ p.url }}" class="list-group-item post">
      <h4 class="list-group-item-heading">
        {{ p.title }}
      </h4>
      <p class="list-group-item-text">
        {{ p.description }}
      </p>
    </a>
  </div>
  {% endfor %}
  {% endif %}
  {% endfor %}



</div><!-- .list-group-->

</div><!-- .snippet-list-container-->    



</div>
<div id="right-nav">
 <div class="list-group">
   {% assign sorted_tags = site.tags | sort %}
   {% for tag in sorted_tags %}
   {% assign zz = tag[1] | where: "category", "linux" | sort %}
   {% if zz != empty %}
   <a href="#{{ tag | first }}" class="list-group-item">
     {{ tag | first | capitalize }}
     <span class="badge">
       {{ tag | last | size }}
     </span>
   </a>
   {% endif %}
   {% endfor %}
 </div>
</div><!-- .right-nav-->


<script src="{{site.baseurl}}/javascripts/bootstrap.js"></script>

<script>
  $(function(){
    $("#right-nav a").click(function(){
      $('html, body').animate({scrollTop: $( $.attr(this, 'href')).offset().top - 150}, 400);
    });
  });
</script>
<script>
  $(function(){
    $(window).scroll(function(){
      var winH = $(window).scrollTop();
      if(winH > 308){
        $("#right-nav").addClass("affix-top");
      } else {
        $("#right-nav").removeClass("affix-top");
      }
    });
  });
</script>